In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('../Data/indeed-job-listings.csv')

In [10]:
df.head(5)

,body,city,company,country,expired,index_url,job_title,listing_url,location,post_date,state,status_code,summary,views
0,"World Wildlife Fund (WWF), the worldâs leadi...",Washington,World Wildlife Fund,US,False,http://api.indeed.com/ads/apisearch?publisher=...,IN-16092 Conservation Data Analysis Intern,http://www.indeed.com/viewjob?jk=7e8fe74842451...,"Washington, DC US","Mon, 25 Apr 2016 21:36:16 GMT",DC,200,"Data management, including updating database m...",17.0
1,"Job Description\n\nThe Weather Company, an IBM...",Boston,IBM,US,False,http://api.indeed.com/ads/apisearch?publisher=...,Data Science Analyst for The Weather Company,http://www.indeed.com/viewjob?jk=4332542420d6b...,"Boston, MA US","Thu, 03 Mar 2016 04:06:28 GMT",MA,200,"Provide expertise in data acquisition, data qu...",10735.0
2,Job Number: 01203341\n\n\nDescription\n\n\nSo ...,Washington,Booz Allen Hamilton,US,False,http://api.indeed.com/ads/apisearch?publisher=...,Data Scientist,http://www.indeed.com/viewjob?jk=5df3246825de1...,"Washington, DC US","Fri, 15 Apr 2016 07:31:57 GMT",DC,200,Our Data Science team:. Experience in working ...,863.0
3,everis is a multinational consulting firm prov...,Washington,Everis USA,US,False,http://api.indeed.com/ads/apisearch?publisher=...,Healthcare Data Analyst,http://www.indeed.com/viewjob?jk=ba266f8cb3fa7...,"Washington, DC US","Mon, 25 Apr 2016 19:56:40 GMT",DC,200,The Healthcare Data Analyst understands health...,10.0
4,CHASE Professionals is currently representing ...,Duluth,CHASE Professionals,US,False,http://api.indeed.com/ads/apisearch?publisher=...,Sr. Data Scientist,http://www.indeed.com/viewjob?jk=fd9df86861b6e...,"Duluth, GA US","Mon, 25 Apr 2016 14:28:26 GMT",GA,200,Strong understanding of algorithms and advance...,147.0

In [11]:
df.columns

Index(['body', 'city', 'company', 'country', 'expired', 'index_url',
       'job_title', 'listing_url', 'location', 'post_date', 'state',
       'status_code', 'summary', 'views'],
      dtype='object')

In [12]:
df.isna().sum()

body            0
city            0
company         0
country         0
expired         0
index_url       0
job_title       0
listing_url     0
location        0
post_date       0
state           0
status_code     0
summary         0
views          17
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   body         100 non-null    object
 1   city         100 non-null    object
 2   company      100 non-null    object
 3   country      100 non-null    object
 4   expired      100 non-null    bool
 5   index_url    100 non-null    object
 6   job_title    100 non-null    object
 7   listing_url  100 non-null    object
 8   location     100 non-null    object
 9   post_date    100 non-null    object
 10  state        100 non-null    object
 11  status_code  100 non-null    int64
 12  summary      100 non-null    object
 13  views        83 non-null     float64
dtypes: bool(1), float64(1), int64(1), object(11)
memory usage: 10.4+ KB

In [ ]:
df['views'].value_counts()
df['views'] = df['views'].fillna(0).astype(int)

views
863.0      5
5.0        4
13.0       4
243.0      3
262.0      3
2.0        3
1453.0     3
1486.0     2
4.0        2
1593.0     2
17.0       2
10735.0    2
49.0       2
7.0        2
622.0      2
29.0       2
11.0       2
64.0       2
41.0       2
71.0       2
228.0      1
573.0      1
3186.0     1
77.0       1
147.0      1
676.0      1
1164.0     1
10.0       1
33.0       1
2244.0     1
38.0       1
476.0      1
92.0       1
51.0       1
162.0      1
1215.0     1
2129.0     1
35.0       1
351.0      1
22.0       1
591.0      1
1410.0     1
3751.0     1
3.0        1
79.0       1
24.0       1
340.0      1
8400.0     1
2975.0     1
1758.0     1
16.0       1
1686.0     1
Name: count, dtype: int64