In [1]:
import pandas as pd
import re
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the job listings CSV
df_jobs = pd.read_csv("../Data/cleaned_indeed_job_listings.csv")
df_jobs.head()

,body,city,company,country,location,post_date,state,status_code,summary,views,job_title_standardized,post_date_only,cluster
0,"World Wildlife Fund (WWF), the worldâs leadi...",Washington,World Wildlife Fund,US,"Washington, DC US",2016-04-25 21:36:16+00:00,DC,200,"Data management, including updating database m...",17,Data Science Intern,2016-04-25,4
1,"Job Description\n\nThe Weather Company, an IBM...",Boston,Ibm,US,"Boston, MA US",2016-03-03 04:06:28+00:00,MA,200,"Provide expertise in data acquisition, data qu...",10735,Other,2016-03-03,2
2,Job Number: 01203341\n\n\nDescription\n\n\nSo ...,Washington,Booz Allen Hamilton,US,"Washington, DC US",2016-04-15 07:31:57+00:00,DC,200,Our Data Science team:. Experience in working ...,863,Data Scientist,2016-04-15,1
3,everis is a multinational consulting firm prov...,Washington,Everis Usa,US,"Washington, DC US",2016-04-25 19:56:40+00:00,DC,200,The Healthcare Data Analyst understands health...,10,Data Analyst,2016-04-25,3
4,CHASE Professionals is currently representing ...,Duluth,Chase Professionals,US,"Duluth, GA US",2016-04-25 14:28:26+00:00,GA,200,Strong understanding of algorithms and advance...,147,Data Scientist,2016-04-25,1

In [3]:
df_jobs.columns

Index(['body', 'city', 'company', 'country', 'location', 'post_date', 'state',
       'status_code', 'summary', 'views', 'job_title_standardized',
       'post_date_only', 'cluster'],
      dtype='object')

In [ ]:
# Define a list of target skills (you can expand this)
skill_keywords = [
    'python', 'java', 'sql', 'excel', 'aws', 'docker', 'linux', 'tableau', 
    'power bi', 'hadoop', 'spark', 'nosql', 'pandas', 'numpy', 'keras', 
    'tensorflow', 'nlp', 'scikit-learn', 'flask', 'django', 'git', 'airflow','cisco',
    'kubernetes', 'spark', 'machine learning', 'deep learning', 'data analysis'
]

In [6]:
# Function to extract skills from text
def extract_skills(text, skill_list):
    if pd.isnull(text):
        return []
    text = text.lower()
    found_skills = [skill for skill in skill_list if re.search(r'\b' + re.escape(skill) + r'\b', text)]
    return found_skills

In [10]:
# Apply to the 'summary' column
df_jobs['skills'] = df_jobs['summary'].apply(lambda x: extract_skills(x, skill_keywords))
df_jobs[['job_title_standardized', 'company', 'skills']].head()

  job_title_standardized              company skills
0    Data Science Intern  World Wildlife Fund     []
1                  Other                  Ibm     []
2         Data Scientist  Booz Allen Hamilton     []
3           Data Analyst           Everis Usa     []
4         Data Scientist  Chase Professionals     []

In [11]:
df_jobs['skills'].value_counts()

skills
[]           92
[sql]         2
[tableau]     2
[nlp]         1
[hadoop]      1
[excel]       1
[python]      1
Name: count, dtype: int64

In [12]:
df_jobs['summary'].value_counts()

summary
Development, sales, marketing) on how data science and resulting predictions can be productized for key industry verticals....                                        2
Specific responsibilities for the Data Science position include:. Growing CapTech’s data science practice through client presentations, writing proposals,...         2
Data Analyst - Enterprise Data Science Office. The Enterprise Data Science Office is focused on the enablement of data science skill sets across Cisco, data...       2
Machine learning, data visualization, statistical modeling, data mining, or information retrieval. We are currently seeking a Data Scientist, to join our Data...     2
Associate All-Source Geospatial Data Scientist. In a team setting, process, manipulate, and analyze geospatial data to extract knowledge or insights from large...    2
                                                                                                                                                                     ..
CSC Big Data and Analytics is a high priority incubator unit with in the Emerging Business Group with focus on helping our customers accelerate their path to...      1
Any Big Data technology Experience. 2 years’ experience with data design. At least 2 years’ experience with Data Integration....                                      1
Knowledge of the Topographic Features Data Management System (TFDM) and associated data services, workflows, and data management processes;...                        1
The Engineer will implement analytics product solutions based on data science, machine learning and statistics....                                                    1
Applicants must possess a Bachelor's degree (or higher) with major study in an academic field related to the health sciences or allied sciences appropriate to...     1
Name: count, Length: 89, dtype: int64